@tailwind base;

.react-tweet-theme {
  --tweet-body-font-size: 1.1rem !important;
}

.dark .react-tweet-theme {
  background-color: transparent !important;
}

.react-tweet-theme > article {
  padding: 1rem;
}

.react-tweet-theme > article > p {
  /* padding: 0.6rem 0rem; */
}

@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

/* .prose pre {
	@apply border border-neutral-800 bg-neutral-900;
}

.prose code {
	@apply text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-100 dark:border-neutral-800 rounded-lg bg-neutral-100 dark:bg-neutral-900;
}

.prose pre code {
	@apply text-neutral-800 dark:text-neutral-200 p-0;
	border: initial;
} */

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* code[class*='language-'],
pre[class*='language-'] {
	@apply text-neutral-50;
} */

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

div[data-rehype-pretty-code-fragment] {
  @apply relative mb-8 overflow-hidden rounded-lg bg-[#080820]/90 dark:bg-[#080820];
}

div[data-rehype-pretty-code-fragment] pre {
  @apply my-0 overflow-x-auto !bg-transparent px-0  py-4 font-mono text-[0.8rem] leading-relaxed;
}

div[data-rehype-pretty-code-title] {
  @apply mb-1 rounded-md bg-slate-300/10 px-3 py-1.5 text-xs text-slate-300/70;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-l-transparent px-4;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-l-slate-100/50 bg-slate-300/20;
}

div[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded bg-slate-300/20 p-1;
}

div[data-rehype-pretty-code-fragment] code {
  @apply grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);

  /* stylistic preferences */
  @apply mr-3 inline-block w-4 text-right text-white/20;
}
/*  */

/* [data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
} */
/* [data-rehype-pretty-code-fragment] .line {
	@apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
} */
/* [data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
} */

.fade-in-black {
  -webkit-mask-image: linear-gradient(
    var(--mask-direction, to right),
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}

pre[data-theme="dark"] {
  color-scheme: dark;
}
pre[data-theme="light"] {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"] {
    display: none;
  }
}
